{"clientGuid":"{{ .omni_guid }}","RequestID":"{{ .requestId }}","var":1}
{"clientGuid":"{{ .omni_guid }}","RequestID":"{{ .requestId }}","var":2}
{"clientGuid":"{{ .omni_guid }}","RequestID":"{{ .requestId }}","var":3}
