{
  "data": {
    "clientContext": {
      "clientDateTime": "2022-03-04T12:11:32+03:00",
      "version": "frm_1.0",
      "way": "native"
    },
    "operation": {
      "orderId": "{{ .requestId }}"
    },
    "scenario": {
      "active": true,
      "adapterExecute": "#EMPTY#",
      "categoryCode": "TRANSFER",
      "categoryName": "Переводы",
      "code": "PT_TRANSFER_PHONE",
      "id": "sc_4fb0da543509976",
      "kindCode": "#EMPTY#",
      "name": "По номеру телефона",
      "numPrefix": "УНВИ",
      "serviceIdCheck": "pmntopercheck",
      "serviceIdExecute": "pmntoperexec",
      "serviceIdFinish": "pmntfnlscrget",
      "serviceIdInit": "pmntfirscrget",
      "serviceIdLoad": "#EMPTY#",
      "systemCheck": "#EMPTY#",
      "systemExecute": "PLH",
      "systemFinish": "#EMPTY#",
      "systemInit": "#EMPTY#",
      "systemLoad": "#EMPTY#",
      "typeCode": "#EMPTY#",
      "version": 4,
      "visible": false
    },
    "verifyData": {}
  },
  "meta": {
    "channel": "ib"
  }
}